:root {
    --primarioAzul: #176FA6;
    --secundarioAmarillo: #F2BB16;
    --blanco: #F2F2F2;
    --negro: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://img.freepik.com/fotos-premium/closeup-imagen-personas-juntando-sus-manos-al-aire-libre_9563-11429.jpg?w=900');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Hace que la imagen sea estática */
    color: var(--blanco);
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(23, 111, 166, 0.8); /* Fondo azul con transparencia */
    border-radius: 15px;
    padding: 30px 40px;
    margin-top: 50px;
    margin-bottom: 50px; /* Añade espacio al final para que sea desplazable */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--secundarioAmarillo);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: var(--blanco);
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: var(--blanco);
}

.form-control {
    border: none;
    border-radius: 8px;
    background-color: var(--blanco);
    color: var(--negro);
}

.form-control:focus {
    box-shadow: 0 0 8px var(--secundarioAmarillo);
    border: 1px solid var(--secundarioAmarillo);
}

.btn-primary {
    background-color: var(--secundarioAmarillo);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #d9a415;
}

.d-flex {
    gap: 15px;
}
