/* General */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    overflow-x: hidden;
}

.content {
    margin-left: 260px; /* Ajuste del espacio de la barra lateral */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s ease; /* Para transición suave en pantallas pequeñas */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #0056b3;
}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 999;
}

.sidebar img {
    width: 100%;
    max-width: 150px;
    display: block;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.sidebar a.active {
    background-color: #1abc9c;
    border-radius: 5px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background: rgb(25, 0, 255);
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

table td {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
}

table input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Buttons */
button[type="submit"] {
    display: block;
    width: 100%;
    background: #0056b3;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background: #004494;
}

/* Media Queries */
@media (max-width: 768px) {
    .content {
        margin-left: 0; /* La barra lateral desaparece en pantallas pequeñas */
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px;
    }

    .sidebar img {
        max-width: 120px;
    }

    .sidebar a {
        font-size: 16px;
    }

    table th, table td {
        font-size: 14px;
        padding: 8px;
    }

    .header h1 {
        font-size: 20px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
