.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding: 15px;
  border-right: 1px solid #ddd;
  width: 60px; /* Barra lateral colapsada */
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1050;
}

.sidebar:hover {
  width: 250px; /* Barra lateral expandida al pasar el mouse */
}

.sidebar a.navbar-brand img {
  width: 40px; /* Ajusta el tamaño del logo en estado colapsado */
  transition: width 0.3s ease;
}

.sidebar:hover a.navbar-brand img {
  width: 60px; /* Ajusta el tamaño del logo en estado expandido */
}

.sidebar ul.nav {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar:hover ul.nav {
  opacity: 1;
}

.dropdown-container {
  display: none;
  background-color: #f1f1f1;
  padding-left: 15px;
}

.dropdown-container.show {
  display: block;
}

.dropdown-btn {
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.dropdown-btn i {
  margin-right: 10px;
}

.dropdown-btn:focus {
  outline: none;
}

.content {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.sidebar:hover + .content {
  margin-left: 250px;
}

.profile-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 15px;
  border-left: 1px solid #ddd;
  width: 60px; /* Barra lateral colapsada */
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 1050;
}

.profile-sidebar:hover {
  width: 250px; /* Barra lateral expandida al pasar el mouse */
}

.profile-sidebar .profile-icon {
  width: 40px; /* Ajusta el tamaño del icono en estado colapsado */
  transition: width 0.3s ease;
  display: block;
  margin: 0 auto;
}

.profile-sidebar:hover .profile-icon {
  width: 60px; 
}

.profile-sidebar ul.nav {
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-top: 20px;
  text-align: center;
}

.profile-sidebar:hover ul.nav {
  opacity: 1;
}

.profile-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-sidebar ul li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

.profile-sidebar ul li a:hover {
  text-decoration: underline;
}

.profile-sidebar ul li i {
  font-size: 1.5rem;
}

.profile-sidebar ul li span {
  margin-left: 10px;
  font-size: 1.2rem;
}
